################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlaceholdersAddInWeb/Sections/PlaceholdersTaskpane/.vs
